<!--Will render changes done to the site such as when a burger is eaten and changed factors-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger app</title>
</head>
<body>
    
</body>
</html>